<h1 class="text-center"> Vehicle Information </h1>
<div>
  <ul>
    <li>Make: <%= @vehicle.make() %> </li>
    <li>Model: <%= @vehicle.model() %> </li>
    <li>Year: <%= @vehicle.year() %> </li>
  </ul>
</div>

<p>
  <a href='/dealerships/<%= @dealership.id %>'>Go back to <%= @dealership.name %></a>
  <br>
  <a href='/'>Go back to 'Dealership Central'</a>
</p>
